.signup-container {
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4), -5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
}
.password-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
}